body{
    background-color: rgb(46, 44, 40);
}


.topo{
    background-color: #565656;
}

.topo{
    display: flex;
    align-items: center;
    justify-content: center;

}

h1{
    color: hsl(36, 100%, 50%);
    text-align: center;

}

.texto{
    color: #ffffff;
    text-align: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    align-items: center;
    max-width: 80%;
}

p{
    font-size: 150%;
}

h2{
    color: hsl(36, 100%, 50%);
    text-align: center;
    padding-top: 100px;
}

.foto{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 75px;
    padding-top: 25px;
}

.rodape{
    background-color: #565656;
    color:  hsl(36, 100%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}